layout {
    focus-ring {
        width 4
        active-color "#feb876"
        inactive-color "#51443a"
    }

    border {
        off
        width 4
        active-color "#feb876"
        inactive-color "#51443a"
        urgent-color "#ffb4ab"
    }
}

overview {
    backdrop-color "#19120cCC"
}
