layout {
    focus-ring {
        width 4
        active-color "#c1c1ff"
        inactive-color "#47464f"
    }

    border {
        off
        width 4
        active-color "#c1c1ff"
        inactive-color "#47464f"
        urgent-color "#ffb4ab"
    }
}

overview {
    backdrop-color "#131318CC"
}
