layout {
    focus-ring {
        width 4
        active-color "#a6c8ff"
        inactive-color "#43474e"
    }

    border {
        off
        width 4
        active-color "#a6c8ff"
        inactive-color "#43474e"
        urgent-color "#ffb4ab"
    }
}

overview {
    backdrop-color "#111318CC"
}
